<app-header></app-header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

  <!-- About Container -->
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Про сервіс</span></h5>
      <p>
        Забезпечення правильного та своєчасного вживання медикаментів може бути важливим елементом підтримки
        здоров'я, проте навіть у добросовісних пацієнтів можуть виникати проблеми з дотриманням графіку лікування.
        Ці проблеми можуть бути пов'язані зі забутністю, недостатнім розумінням інструкцій щодо вживання ліків або
        іншими факторами.
      </p>
      <p>
        У зв'язку з цим виникає необхідність в розробці та впровадженні інноваційних рішень, спрямованих на
        покращення дотримання лікування та контроль за вживанням медикаментів. Нова технологічна ера відкриває
        широкі можливості для створення автоматизованих систем, які спрощують цей процес та забезпечують
        пацієнтів необхідною підтримкою.
      </p>
      <p>
        Система "MediReminder" відповідає на ці виклики, пропонуючи розробку IoT-пристрою, який інтегрується в
        контейнери з медикаментами та надає комплексний контроль за їх вживанням. Цей пристрій не лише нагадує
        пацієнтам про час прийому ліків, але й відправляє повідомлення родичам чи лікарям у випадку, якщо
        пацієнт пропустив дозу.
      </p>
      <p>
        Крім того, система дозволяє спостерігати за вживанням медикаментів, оцінювати їх стан, а також замовляти
        нові партії ліків, якщо це необхідно. Такий інтегрований підхід дозволяє забезпечити не лише ефективне
        вживання медикаментів, але й зберігання контролю за станом здоров'я пацієнтів.
      </p>
      <p>
        Цей проект має стратегічне значення для покращення якості життя пацієнтів, забезпеченням їхнього
        здоров'я та благополуччя. Реалізація системи "MediReminder" сприятиме не лише збереженню здоров'я,
        але й економії часу та ресурсів у сфері медичної допомоги.
      </p>

      <p><strong>Відкрито:</strong> Кожен день від 06:00 до 17:00</p>
      <p><strong>Адреса:</strong> Вулиця Васильківського 25, Харків</p>
    </div>
  </div>

  <!-- End page content -->
</div>
