<app-header></app-header>

<div class="card mb-3" *ngIf="loaded; else stillLoading">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Пацієнт</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <select #patientId="ngModel"
                name="patientId"
                [(ngModel)]="values.patientId"
                id="specializationSelect"
                class="form-control"
                required>
          <option value="" disabled selected>Оберіть пацієнта</option>
          <option *ngFor="let patient of patients;" value="{{ patient.patientId }}">{{ patient.applicationUser.userName }}</option>
        </select>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Тип посилання</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <select #messageTypeId="ngModel"
                name="messageTypeId"
                [(ngModel)]="values.messageTypeId"
                id="specializationSelect1"
                class="form-control"
                required>
          <option value="" disabled selected>Оберіть тип посилання</option>
          <option *ngFor="let type of messageTypes;" value="{{ type.messageTypeId }}">{{ type.name }}</option>
        </select>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Отримувач</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <select #receiverId="ngModel"
                name="receiverId"
                [(ngModel)]="values.receiverId"
                id="specializationSelect2"
                class="form-control"
                required>
          <option value="" disabled selected>Оберіть отримувача</option>
          <option *ngFor="let user of users;" value="{{ user.id }}">{{ user.userName }}</option>
        </select>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Текст</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <textarea type="text" class="form-control" [(ngModel)]="values.text"></textarea>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Дата створення</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input type="datetime-local" class="form-control" [(ngModel)]="values.createdAt">
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Діставлено</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input type="checkbox" class="form-check-input" [(ngModel)]="values.isReceived">
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Прочитано</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input type="checkbox" class="form-check-input" [(ngModel)]="values.isRead">
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-12">
        <a (click)="saveChanges()" class="btn btn-info">Створити</a>
        <a (click)="getBack()" class="btn btn-info" style="margin-left: 15px;">Скасувати</a>
      </div>
    </div>
  </div>
</div>

<ng-template #stillLoading>
  Still Loading...
</ng-template>
